
  #first-impression{
    text-align: center;
    margin-top: var(--scroll-margin-top)
  }
  
  .container-h1 {
    display: inline-block;
  }

  #first-impression h1{
    color:rgb(36, 139, 67);
    font-size: 3.5rem;
    font-weight: 400;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  #first-impression > h2{
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 200;
  }
  #first-impression > p{
    line-height: 2rem;
    max-width: 50rem;
    margin:20px auto;
    font-size: 1.25rem;
  }
  
  #link-other-website{
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
  }
  #site-nav>li{
    cursor: pointer;
  }
  .avatar{
    height: 400px;
    margin: 2rem 0 5rem;
    clip-path: circle(45%);
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  
  @media(max-width:600px){
    #first-impression>p{
        padding: 10px;
    }
    .avatar{
        height: 300px;
      }
  }

  @media(max-width:450px) {
    #first-impression h1{
      white-space: normal;
    }
  }

