.card-skill{
    text-align: center;
    background-color: rgb(22, 102, 136);
    padding: 3rem;
    border-radius: 30px;
}
.card-logo{
    height: 128px;
}
.card-title{
    margin: 2rem;
}
p{
    line-height:30px ;
}

@media(max-width:600px){
    .card-skill{
        border-radius: 0px;
    }
    .card-title{
        margin: 0;
    }
  }