*,
::after,
::before {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  background-color: rgb(17, 24, 39);
  color: white;
  font-family: Poppins, sans-serif;
}

.app {
  min-height: 100vh;
  padding: 0 10rem;
}

#header-nav{
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
  margin-bottom: 3.5rem;
}
#site-nav{
  display: flex;
}
#first-impression{
  text-align: center;
}

#first-impression > h1{
  color:rgb(36, 139, 67);
  font-size: 3.5rem;
  padding: 0.5rem 0;
  font-weight: 400;
}
#first-impression > h2{
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: 200;
}
#first-impression > p{
  font-size: 1.25rem;
  max-width: 50rem;
  margin:20px auto;
  line-height: 2rem;
}

#link-other-website{
  display: flex;
  gap: 4rem;
  justify-content: center;
  padding: 2rem;
}

.avatar{
  height: 400px;
  margin: 2rem 0 5rem;
}
.skills-grid{
  display:grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}
.project-section-title{
  margin: 8rem 0 6rem;
  text-align: center;
  font-size: 2.5rem;

}
.projects-grid{
  display:grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

@media(max-width:600px){
  .app{
    padding: 0;
  }
}