*,
::after,
::before {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  background-color: rgb(17, 24, 39);
  color: white;
  font-family: Poppins, sans-serif;
}

.app {
  min-height: 100vh;
  padding: 0 10rem;
}

#skill-paragraph{
  margin-bottom: 2rem;
}
#skill-paragraph>a{
  text-decoration: none;
  color: rgb(22, 102, 136);
}

.skills-grid{
  display:grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}
.project-section-title{
  margin: 8rem 0 6rem;
  text-align: center;
  font-size: 2.5rem;

}
.projects-grid{
  display:grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 300px;
}

@media(max-width:600px){
  .app{
    padding: 0;
  }
  #header-nav{
    padding: 1rem;
  }
}